AUTH_SECRET= # secret for auth, generate with openssl rand -base64 32
APP_URL= # app url
SECRET_KEY= # secret for server tokens, generate with openssl rand -base64 32
ALLOW_SIGNUP= # allow users to sign up, set to true or false