@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/hanken-grotesk";
@import "@fontsource-variable/roboto-mono";
@import "@fontsource/instrument-serif";

@theme inline {
  --color-background: oklch(0.2426 0.037 262.5);
  --color-foreground: oklch(0.985 0 0);
  --color-accent: oklch(0.2179 0.032 262.46);
  --color-accent-foreground: oklch(0.2938 0.032 262.46);
  --color-destructive: oklch(0.5579 0.1401 25.21);

  --color-popover: oklch(0.205 0 0);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --color-secondary: oklch(0.269 0 0);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.556 0 0);
  
  --radius: 0.25rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  
  --font-sans: "Hanken Grotesk Variable", sans-serif;
  --font-mono: "Roboto Mono Variable", monospace;
  --font-serif: "Instrument Serif", serif;
  
  --breakpoint-xs: 30rem;
  
  --animate-reverse-spin: reverse-spin 1s linear infinite;
}

@keyframes reverse-spin {
  to {
    transform: rotate(-360deg);
  }
}

.root {
  isolation: isolate;
}

@layer base {
  body {
    background: var(--color-background);
    font-family: var(--font-sans);
    color: var(--color-foreground);
    position: relative;
  }
}